h1 {
    font-size: 33px;
    margin-bottom: 30px;
}

.container {
    padding-bottom: 30px;
}

#calendar {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#timepicker {
    position: absolute;
    display: none;
}

#calendar table {
    width: 100%;
}

.calendar-header {
    margin-bottom: 30px;
    text-align: center;
    line-height: 35px;
}

.calendar-header span {
    margin: 0 5px;
}

.calendar-date {
    padding: 10px 10px 20px 0px;
    text-align: right;
    font-size: large;
    margin: 3px;
    display: block;
    position: relative;
}

.calendar-date.enabled {
    border: 1px solid #ccc;
}

.calendar-date-selected {
    border-color: #fffdd9 !important;
    background: #fffdd9 !important;
}

.calendar-date.enabled:hover {
    border-color: #d4e4ff;
    background: #d4e4ff;
    text-decoration: none;
    cursor: pointer;
}

.calendar-date.disabled {
    background: #eee;
    color: #ccc;
}

.calendar-date-count {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    font-size: x-small;
    text-align: center;
    line-height: 20px;
    background: #f3f3f3;
}

.calendar-prevbtn {
    float: left;
}
.calendar-nextbtn {
    float: right;
}
.calendar-prevbtn.disabled, .calendar-nextbtn.disabled {
    border-color: #fff;
}

#timepicker select {
    width: 100%;
    height: 50%;
    background: white;
}
#timepicker input {
    width: 100%;
    height: 50%;
}

.calendar-input {
    background: none;
    width: 120px;
    color: #ccc;
    border-radius: 3px;
    border: 1px #efefef solid;
    padding: 2px;
    font-size: small;
    text-align: center;
    margin-right: 3px;
    margin-top: 2px;
}

#timepicker option[disabled] {
    color: white;
}